/* ---- Base ---- */
body {
  
  background-color: #4166F5; 
  font-family: Tahoma, Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  color: darkblue;
  background-color: lightblue;
  text-align: center;
  padding: 5px 0;
}

h1 {
  line-height: 200%;
  font-family: 'Lora', serif;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: aliceblue;
}